a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid  orange;
}
.border-bottom {
  border-bottom: 1px solid  orange;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem  orange;
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  background-image: url("https://images.photowall.com/products/49110/steel-plate.jpg?h=699&q=85");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 60px;
  background-color: black;
  color:  orange;
  font-family: 'Courier New', Courier, monospace;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  font-family: 'Courier New', Courier, monospace;
}

.mainBox {
  background-color: rgb(46, 46, 46);
  border: solid orange;
  border-width: 1px;
  padding: 15px;
  font-family: 'Courier New', Courier, monospace;
}

.navBar {
  background-color: rgba(0, 0, 0, 0.324);
  color: orange;
  font-family: 'Courier New', Courier, monospace;
}

.nav-item {
  color: orange
}

.nav-item:hover {
  color:  black
}

a {
  color:  rgb(255, 179, 38);
  font-size: 16px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 10px;
  font-family: 'Courier New', Courier, monospace;
}

hr {
  color:  rgb(255, 179, 38);
  border-width: 1px;
  border-color:  rgb(255, 179, 38);
  font-size: 16px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
  line-height: 21px; 
 font-family: 'Courier New', Courier, monospace;
}


h1 { 
font-size: 32px; 
font-style: normal; 
font-variant: normal; 
font-weight: 700; 
line-height: 21px; 
font-family: 'Courier New', Courier, monospace;
color: rgb(255, 179, 38);
} 
     
h3 { 
 font-size: 22px; 
 font-style: normal; 
 font-variant: normal; 
 font-weight: 700; 
 line-height: 19.4px; 
 font-family: 'Courier New', Courier, monospace;
color: rgb(255, 179, 38);
 } 
 h4 {
  font-size: 32px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 21px; 
  font-family: 'Courier New', Courier, monospace;
color: rgb(255, 179, 38);
 }
      
 p { 
  font-size: 16px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
  line-height: 21px; 
  font-family: 'Courier New', Courier, monospace;
color: rgb(255, 179, 38);
} 

blockquote {  
  font-size: 21px;
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
  line-height: 30px; 
} 
pre { 
  font-size: 13px; 
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}
input {
    font-size: 16px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 21px; 
}

.btn {
  margin: 3px;
}