@{
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Greetings, and welcome to the Factory.</h1>
    <p>@Html.ActionLink("See all Machines", "Index", "Machines")</p>
    <p>@Html.ActionLink("See all Engineers", "Index", "Engineers")</p>
</div>